<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="GryzillaDatabase-Local"
             connectionString="Data Source=192.168.0.220,2105;Initial Catalog=Gryzilla;User ID=sa;Password=Poziomka100" />
        <add name="GryzillaDatabase-Global"
             connectionString="Data Source=192.168.0.220,2105;Initial Catalog=Gryzilla;User ID=sa;Password=Poziomka100" />
    </connectionStrings>
</configuration>